/********** Template CSS **********/
:root {
    --primary: #9ACFDC;
    --light: #EFF5FF;
    --dark: #1D1752;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

.font {
    color: #000000;
}

.font_reg {
    background-color: #EDE545 !important;
}

.register {
    position: fixed;
    display: none;
    right: 100px;
    bottom: 45px;
    z-index: 99;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/* Button */
.btn-reg {
    padding: 10px !important;
}
/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.header-carousel .owl-carousel-text {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.header-carousel .owl-nav {
    position: absolute;
    width: 200px;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.header-carousel .owl-dots {
    position: absolute;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    transition: .5s;
}

.header-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 4px;
    left: 4px;
    background: #FFFFFF;
    border-radius: 5px;
}

.header-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: url(../img/header-page.webp) top center no-repeat;
    background-size: cover;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Service ***/
.service-item {
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
}

.service-item .btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 40px;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
}

.service-item:hover .btn {
    width: 140px;
}


/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Team ***/
.team-item img {
    position: relative;
    top: 0;
    transition: .5s;
}

.team-item:hover img {
    top: -30px;
}

.team-item .team-text {
    position: relative;
    height: 100px;
    transition: .5s;
}

.team-item:hover .team-text {
    margin-top: -60px;
    height: 160px;
}

.team-item .team-text .team-social {
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-text .team-social {
    opacity: 1;
}

.team-item .team-social .btn {
    display: inline-flex;
    color: var(--primary);
    background: #FFFFFF;
    border-radius: 40px;
}

.team-item .team-social .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}


/*** Appointment ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text {
    background: var(--light);
    transform: scale(.8);
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary);
    transform: scale(1);
}

.testimonial-carousel .owl-item .testimonial-text *,
.testimonial-carousel .owl-item .testimonial-item img {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: var(--light) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item img {
    background: var(--primary) !important;
} 

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 350px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
    width: 300px;
    opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    color: var(--primary);
    font-size: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}

.social {
    text-align: right;
}

/** Sponsors **/
#sponsorsGold {
    background-color: #D4AF37;
    padding: 20px;
    color: #EEEEEE;
}

#gold {
    color: #EEEEEE;
}

#sponsorsSilver {
    background-color: #a9b0b4;
    padding: 20px;
}

#silver {
    color: #000000;
}

#sponsorsBronze {
    background-color: #cd7f32;
    padding: 20px;
}

#bronze {
    color: #000000;
}

/* Introduction */
.intro {
    padding: 1em;
}

/* Venue */
/* Set the image-container as a relative positioned element */
.image-container {
    position: relative;
    display: inline-block;
}
  
  /* Style the image */
.image-container img {
    display: block;
    width: 100%;
}
  
  /* Style the overlay-text */
.overlay-text {
    position: absolute;
    top: 25%; /* Adjust this value to vertically center the text */
    left: 50%; /* Adjust this value to horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text precisely */
    background-color: #000000; /* Set the background color with some transparency */
    color: #fff; /* Set the text color */
    padding: 10px 20px; /* Add some padding to the text */
    font-size: 20px; /* Adjust the font size */
    opacity: 0.75;
}

.heading-text {
    position: absolute;
    top: 5%; /* Adjust this value to vertically center the text */
    left: 50%; /* Adjust this value to horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text precisely */
    color: #fff; /* Set the text color */
    padding: 10px 20px; /* Add some padding to the text */
    font-size: 20px; /* Adjust the font size */
}

.paragraph-text {
    position: absolute;
    top: 35%; /* Adjust this value to vertically center the text */
    left: 50%; /* Adjust this value to horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text precisely */
    color: #fff; /* Set the text color */
    background-color: #000000; /* Set the background color with some transparency */
    padding: 10px 20px; /* Add some padding to the text */
    font-size: 20px; /* Adjust the font size */
    opacity: 0.5;
}

.arrow-text {
    position: absolute;
    top: 45%; /* Adjust this value to vertically center the text */
    left: 50%; /* Adjust this value to horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text precisely */
    color: #fff; /* Set the text color */
    background-color: #000000; /* Set the background color with some transparency */
    padding: 10px 20px; /* Add some padding to the text */
    font-size: 20px; /* Adjust the font size */
}

.venue {
    color: #fff;
}

.sponsors {
    background-color: #1D1752; 
    color: #fff !important;
}

.marginLeft {
    margin-left: 20px;
}

/* Responsive Behaviour */

@media only screen and (min-width: 1900px) {
    .mobile {
        display:none !important;
    }
    .paddingTop {
        padding-top: 0em;
    }

    .topMarginMob {
        margin-top: 0em;
    }

    .marginTop {
        margin-top: 2em;
    }

    .marginLeftSP {
        margin-left: 10em !important;
    }

    .marginLeftSP {
        margin-left: 2em !important;
    }

    .marginBottom {
        margin-bottom: 26px;
    }

    .marginTopFourth {
        margin-top: .5em !important;
    }

    .marginLeft_HP {
        margin-left: 25em;
    }
} 
@media only screen and (max-width: 1901px) {
    .full {
        display:none !important;
    }
    .paddingTop {
        padding-top: 1em;
    }

    .topMarginMob {
        margin-top: 2em;
    }

    .marginLeftSP {
        margin-left: 0em;
    }

    .marginLeftSP {
        margin-left: 0em;
    }

    .marginTopThird {
        margin-top: 2em !important;
    }
    
    .marginTop {
        margin-top: 2em;
    }

    .marginLeft_HP {
        margin-left: 7em;
    }
}

@media only screen and (min-width: 350px) { /*mobile */
    .marginMobile {
        margin-top: 2em !important;
    }
}

.barlow {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.marginTopSP {
    margin-top: 2em;
}

.marginUCD {
    margin-top: 0em;
}

/* Custom style */
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.7) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.barlowBtn {
    font-size: 1.5rem;
    font-weight: 700;
}

.table {
    --bs-table-striped-bg: #91D5DE !important;
}

.img-cover{
    object-fit: cover;
    object-position: center;
  }

.btn.btn-primary:active {
    background-color: #47579D !important;
    color: #ffffff !important;
}

.btn.btn-primary:hover {
    background-color: #47579D !important;
    color: #ffffff !important;
}

.backgroundSpeakers {
    background-color: #91D5DE !important;
    color: #ffffff;
}

.btn.btn-primary {
    background-color: #ffffff !important;
    color: #79d4ff !important;
}

.time {
    width: 15%;
}

.paddingTableLeft {
    padding-right: 50px !important;
}

.paddingTableRight {
    padding-left: 50px !important;
}

/* Table(s) */
.table-responsive-stack tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  
  .table-responsive-stack td,
  .table-responsive-stack th {
     display:block;
  /*      
     flex-grow | flex-shrink | flex-basis   */
     -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  }
  
  .table-responsive-stack .table-responsive-stack-thead {
     font-weight: bold;
  }
  
  @media screen and (max-width: 768px) {
     .table-responsive-stack tr {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        border-bottom: 3px solid #ccc;
        display:block;
        
     }
     /*  IE9 FIX   */
     .table-responsive-stack td {
        float: left\9;
        width:100%;
     }

     .paddingTableLeft {
        padding-right: 0px !important;
    }
    
    .paddingTableRight {
        padding-left: 0px !important;
    }
  }

  .bg-dark {
    background-color: #1D1752 !important;
  }

  .sponsorsBG {
    background-color: #F0EFFF !important;
  }